.container {
    text-align: center;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .image-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
  }
  
  .image-thumbnail:hover {
    transform: scale(1.1);
  }
  