.label-input {
  width: 90%;
  padding:5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.fontsize-input{
  width: 90%;
  padding:5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.url-input{
  width: 90%;
  padding:5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.option-input{
  width: 90%;
  padding:5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}