.table-container {
    /* padding: 10px; */
    background-color: white;
    border: 1px solid #b2ebf2;
    overflow: auto;
    display: block;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures columns are evenly distributed */
  }
  
  .data-table th,
  .data-table td {
    padding: 8px; /* Increased padding for better spacing */
    text-align: left;
    border: 1px solid #b2ebf2; /* Add a border around each cell */
    word-wrap: break-word; /* Ensures content wraps within cells */
    font-size: small;
  }
  
  .data-table th {
    background-color: #e0f7fa; /* Softer background for headers */
    color: #00796b; /* Darker text for contrast */
    font-weight: bold;
  }
  
  .data-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .data-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  